<%- include("./partials/header") %>
    <link rel="stylesheet" href="/css/ecom.css" type="text/css">
    <div class="container">
        <div class="jumbotron">
            <%allcat.forEach(function(cat){%>
                <a class="btn btn-sm btn-warning" href="/products/<%=cat._id %>">
                    <%=cat.name%>
                </a>
                <%})%>
        </div>
        <%if(!currentUser){%>
            <p></p>
            <%}else{%>
                <%  if(currentUser.role=='admin'){%>
                    <a class="btn btn-success" href="/admin">DashBoard</a>
                    <%}%>
                        <%}%>
    </div>
    <form id="form1" method="GET">
        <input type="text" name="name">
        <button>search</button>
    </form>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li>
                <form id="form2" method="GET">price
                    <input type="number" name="price1" min="0" required>-
                    <input type="number" name="price2" required>
                    <button>search</button>
                </form>
            </li>
            <li>
                <form method="GET" id="form3">Price
                    <input type="radio" name="sort" value=-1>high to low
                    <input type="radio" name="sort" value=1 checked>Low to high
                    <input type="radio" name="date" value=-1 checked>new to old
                    <input type="radio" name="date" value=1>old to new
                    <button>submit</button>
                </form>
                <!-- <form method="GET" id="form4">Date
                    <input type="radio" name="date" value=-1>new to old
                    <input type="radio" name="date" value=1>old to new
                    <button>submit</button>
                </form>-->
            </li>
        </ul>
    </div>
    <hr>

    <div class="container" id="con">
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% products.forEach(function(x){%>
                <div class="cl-md-3 col-sm-6 col-lg-4">
                    <!--<a href="/products/<%=x._id %>/edit"> -->
                    <div class="thumbnail" style="width: 80%;height: 80%;;box-shadow: 1px 1px 2px 2px rgb(204, 182, 142);">
                        <div class="caption">
                            <p>name</p>
                            <p id="name">
                                <%=x.name%>
                            </p>
                            quantity:
                            <%=x.quantity%>
                                <p id="price"> price:
                                    <%=x.price%>
                                </p>
                                <img src="http://localhost:3000/<%=x.image%>" width="50%" height="50%">
                        </div>
                    </div>
                    </a>
                </div>
                <% }) %>
        </div>
    </div>
    </div>
    <div id="se">
        <div id="se2"></div>
    </div>

    <script src="/js/ecom.js"></script>
    <%- include("./partials/footer") %>