<%- include("./partials/header") %>
    <%allcat.forEach(function(cat){%>
        <div class="container">
            <a href="/products/<%=cat._id %>">
                <%=cat.name%>
            </a>
        </div>
        <!--<%=cat.status%>-->
        <%})%>
            <a class="btn btn-primary" href="/add">click to add categorie</a>
            <a class="btn btn-primary" href="/products">click to add products</a>

            <%- include("./partials/footer") %>