<%- include("../partials/header") %>
    <link rel="stylesheet" href="/css/cart.css" type="text/css">
    <h1> <img src="https://img.icons8.com/color/48/000000/shopping-cart.png" />cart</h1>
    <div class="card">
        <img src="https://img.icons8.com/windows/32/000000/bill.png" /> subtotal:<img src="https://img.icons8.com/color/18/000000/rupee--v1.png" />
        <%=subtotal%>
    </div>
    <%cart.forEach(function(x){%>
        <div class="thumbnail" style="width: 40%;height: 5%;">
            <div class="caption">
                <h6>
                    <img src="http://localhost:3000/<%=x.image%>" alt="" width="5%" height="5%"> name:
                    <%=x.name%>
                </h6>
                <p> quantity:
                    <%=x.quantity%>
                </p>
                price<img src="https://img.icons8.com/color/18/000000/rupee--v1.png" />
                <%=x.price%>
                    total:
                    <%=x.total%>
                        <form action="/cart/edit?_method=PUT" method="POST">
                            <input type="hidden" value="<%=x._id%>" name="id">
                            <button class="btn btn-warning btn-xs">increase</button>
                        </form>
                        <form id="delete" action="/cart/<%= x._id %>?_method=DELETE" method="post">
                            <button class="btn btn-danger btn-xs">DELETE</button>
                        </form>
                        </p>
            </div>
        </div>
        <%})%>

            <%if(Object.keys(cart).length === 0){%>
                <h1 id="message">&#128151 No products yet add cart to see &#128151 </h1>
                <%}%>

                    <%- include("../partials/footer") %>