<%- include("../partials/header") %>
    <link rel="stylesheet" href="/css/adminuser.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <table>
        <tr>
            <th>username</th>
            <th>status</th>
        </tr>
        <tr>
            <%users.forEach(function(x){%>
                <td>
                    <%=x.username%>
                        <form action="/admin/user?_method=PUT" method="POST">
                            <input type="hidden" value="<%=x._id%>" name="id">
                            <button class="btn btn-warning btn-xs">change Password</button>
                        </form>
                </td>
                <td>
                    <%=x.status%>
                        <form action="/admin/status?_method=PUT" method="POST">
                            <input type="hidden" value="<%=x._id%>" name="id">
                            <button class="btn btn-warning btn-xs">change status</button>
                        </form>
                </td>
        </tr>
        <%})%>
    </table>

    <table>
        <th>username</th>
        <th>totalproducts purchased</th>
        <th>totalamount of products</th>
        <th>date of purchased</th>
        <tr>
            <%userInformation.forEach(function(x){%>
                <td>
                    <%=x._id.username%>
                </td>
                <td>
                    <%=x._id.totalproduct%>
                </td>
                <td>
                    <%=x._id.sub%>
                </td>
                <td>
                    <%=x._id.created_date%>
                </td>
        </tr>
        <%})%>
    </table>

    <table>
        <th>totaluser</th>
        <th>totalproducts purchased</th>
        <th>totalamount of all products</th>
        <tr>
            <td>
                <%=totaluser%>
            </td>
            <td>
                <%=totalproducts%>
            </td>
            <td>
                <%=subtotal%>
            </td>
        </tr>
    </table>
    <div id="chartContainer" style="height: 300px; width: 70%;"></div>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

    <script>
        window.onload = function() {

            var dataPoints = [].sort(function(a, b) {
                var dateA = new Date(a.x),
                    dateB = new Date(b.x)
                return dateA - dateB //sort by date ascending
            });

            var options = {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: " Sales Data"
                },
                axisX: {
                    valueFormatString: "MMM DD YYYY",
                },
                axisY: {
                    title: "price",
                    titleFontSize: 24,
                    includeZero: false
                },
                data: [{
                    title: "products",
                    type: "spline",
                    yValueFormatString: "######",
                    dataPoints: dataPoints
                }]
            };



            function addData(data) {
                for (var i = 0; i < data.length; i++) {
                    dataPoints.push({
                        x: new Date(data[i]._id.created_date),
                        y: data[i]._id.sub
                    });
                }
                $("#chartContainer").CanvasJSChart(options);

            }

            $.getJSON("http://localhost:3000/admin/user/json", addData);

        }
    </script>

    <%- include("../partials/footer") %>