<%- include("../partials/header") %>
    <link rel="stylesheet" href="/css/profile.css" type="text/css">
    <%if(!currentUser){%>
        <p id="message">&#x1f61f Please
            <a href="/login">Login or register</a> to view your profile</p>
        <%}else{%>
            <div class="container row">
                <div class="card col-md-6">
                    <img src="http://localhost:3000/<%=currentUser.image%>" alt="Profile pic" style="width:80%">
                    <h1></h1>
                    <p class="title">
                        <%=currentUser.username%>
                    </p>
                    <form action="/user?_method=PUT" method="POST" id="myform">
                        <div class="form-group">
                            <label for="password">Current password</label>
                            <input type="password" class="form-control" id="password" name="user" placeholder="Current password" required min="3" max="8">
                            <label for="password">New password</label>
                            <input type="password" class="form-control" id="Newpassword" name="newuser" placeholder="New password" required min="4" max="8">
                        </div>
                        <button class="btn btn-warning tn-sm">Submit</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <h1>My Orders <img src="https://img.icons8.com/office/40/000000/shopping-basket.png" /></h1>
                    <%if(Object.keys(order).length === 0){%>
                        <h1 id="message"> No products in My orders yet Buy products to see </h1>
                        <%}%>
                            <div class="cards">
                                <img src="https://img.icons8.com/windows/32/000000/bill.png" /> subtotal:<img src="https://img.icons8.com/color/18/000000/rupee--v1.png" />
                                <%=subtotals%>
                            </div>
                            <%order.forEach(function(x){%>
                                <div class="thumbnail" style="width: 60%;height: 10%;">
                                    <div class="caption">
                                        <p>
                                            name:
                                            <%=x.name%>
                                                quantity:
                                                <%=x.quantity%>
                                                    total:
                                                    <%=x.total%>
                                                        date:
                                                        <%=x.created_date%>
                                                            <form id="delete" action="/cart/<%= x._id %>?_method=DELETE" method="post">
                                                                <button class="btn btn-danger btn-xs">DELETE</button>
                                                            </form>
                                        </p>
                                    </div>
                                </div>
                                <%})%>
                </div>
            </div>

            <%}%>
                <style>
                    /*   p {
                            margin: 10%;
                        }
                        
                        .card {
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.281);
                            max-width: 300px;
                            margin: auto;
                            margin-top: 5%;
                            text-align: center;
                        }
                        
                        img {
                            border-radius: 50%;
                        }
                        
                        .title {
                            color: orange;
                            font-size: 18px;
                        }
                        
                        #password,
                        #Newpassword {
                            width: 80%;
                            margin-left: 2%;
                        }*/
                </style>
                <%- include("../partials/footer") %>